---
title: Blog
---

%section.blog
  - if paginate && num_pages > 1
    %p= "Page #{page_number} of #{num_pages}"
    - if prev_page
      %p= link_to 'Previous page', prev_page
  %div.wrap
    - page_articles.each do |article|
      %article.post
        %aside.post-aside
          %h2= article.date.strftime('%B %e, %Y')

        %section.post-content
          %h3.title= link_to article.title, article
          %div.content= article.data.excerpt
          %footer.more
            = link_to "Read More &raquo;", article

  - if paginate && next_page
    %p= link_to 'Next page', next_page
